<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Why I chose Firebase to add Real-Time Data to Luzme</title>

    <meta name="description" content="Why I chose Firebase to add Real-Time Data to Luzme">
    <meta name="author" content="Rachel Willmer">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/firebase.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    </script>

    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/code-box/code-box.html">
    <link rel="import" href="/code-box/code-example.html">

  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script>
    window.addEventListener('load', installCounter);

    function installCounter() {
      var devsRef = new Firebase("https://firebase-website.firebaseio.com/stats/signups");
      var counterSpan = document.getElementById('current-devs');
      devsRef.on("value", function (snap) {
        // Use thousand separator in counter.
        counterSpan.textContent = snap.val().toLocaleString();
      });
    }
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <small id="era">

      </small>

      <div class="slides">

        <!--
          Intro
        -->
        <section title="">
          <br><br>
        <section title="">
          <br><br>
          <h2>Why I chose Firebase to add Real-Time Data to Luzme</h2>
          <p>
            <h6>Rachel Willmer / <a href="http://twitter.com/rwillmer">@rwillmer</a></h6>
	          <img src="images/firebase-logo.png" class="no-style" 	style='float: left' width=100px>
	          <img src="images/Luzme-400dpiLogo.png" class="no-style" style='float: right' width=200px>
          <br> <br>

          </p>

          <aside class='notes'>
          	Q: https://vote-demo.firebaseio.com window open?
          </aside>
        </section>

        <section>
          <p class='text-large'>Céad míle fáilte</p>
          <!-- <p class='text-large'>Dobré ráno!</p> -->
        </section>

        <section>
          <p class="text-cream text-medium">What is Real-Time Data?</p>
          <p class="text-cream text-medium"><span class="text-discs">What is Firebase?</span></p>
          <p class="text-cream text-medium">What is Luzme?</p>
          <p class="text-cream text-medium"><span class="text-discs">Who Am I?</span></p>
        </section>

        <section>
          <h3>Warning</h3>
          <p class="text-medium">There Will Be A Demo</p>
          <p class="text-cream text-medium">and I need your help</p>
          <p class="text-small">Please open a browser<br/>
          and login with Twitter</p>
        </section>

        <section>
          <h3>I am ...</h3>
          <p class="text-medium">Rachel Willmer</p>
          <p class="text-cream">A Programmer</p>
          <p class="">An Entrepreneur</p>
          <p class="text-cream">An Avid Book Lover</p>
          <p>&nbsp;</p>
          <p class="">and a Google Developer Expert (Firebase)</p>
          <aside class='notes'>
          	Been working with new technology for 30 years...
          	Been working for myself for 20 years...
          	Been reading all my life...
          </aside>
        </section>

        <section>
          <h3>This is my bookshelf</h3>
          <img src="images/Bookshelf.jpg" alt="My Bookshelf" class="no-style" />
        </section>

        <section>
          <h3>So I have a problem!</h3>
          <p class="text-medium">and the solution is ebooks</p>
        </section>

        <section>
          <h3>So I built Luzme</h3>
          <p class='text-small'>"Never Pay Full-Price For An Ebook Again!"</p>
          <img src="images/Luzme-400dpiLogo.png" class="no-style" width=200px>
          <p class='text-medium'>
          	<a href='https://luzme.com'>
				https://luzme.com
			</a>
		  </p>
          <p>the world's best ebook search site (IMHO)</p>
        </section>

        <section>
          <iframe src='https://luzme.com' width=1200 height=1000></iframe>
        </section>

        <section>
          <h3>Initial Stack</h3>
          <p>Standard LAMP stack</p>
          <p>MySQL Database</p>
          <p>Python/Django</p>
          <p>Single machine</p>
        </section>

        <section>
          <h3>Now</h3>
          <p>Multi-machine LAMP stack</p>
          <p>MySQL Database</p>
          <p>Python/Django</p>
          <p>Celery Message Queue</p>
          <p>Approx 30 machines in 7 countries</p>
        </section>

        <section>
          <h3>New Version in Beta</h3>
          <p>Completely rewritten front-end stack</p>
          <p>AngularJS</p>
          <p>Firebase</p>
          <p class='text-large'>Why?</p>
        </section>

        <section>
          <h3>I Need A Responsive Website</h3>
          <p>And I don't mean media queries</p>
          <p class='fragment'>I mean<br>responsive data</p>
          <p class='fragment'>When you come to my website,<br>
          	I want you to see up-to-date data</p>
        </section>

        <section>
          <h3>Searching For 2 Years</h3>
          <p>Meteor</p>
          <p>Pusher</p>
          <p>Fanout</p>
          <p>Swampdragon</p>
          <p>but nothing was working for me...</p>
        </section>

        <section>
          <h3>And Then I Found Firebase</h3>
          <table style='margin: auto'>
          	<tbody>
          		<tr>
          		<td>Documentation</td><td>YES</td>
          		</tr>
          		<tr>
          		<td>Client Library Support</td><td>YES</td>
          		</tr>
          		<tr>
          		<td>Free Hacker Plan</td><td>YES</td>
          		</tr>
          	</tbody>
          </table>
          <br>
          <p class='fragment'>&lt;Happy Dance&gt;</p>
        </section>

        <section>
          <h3>Demo Time</h3>
          <p>Please open a browser</p>
          <p>and login into Twitter</p>
          <br>
          <p class='fragment'>
          <a href='https://vote-demo.firebaseapp.com' target='_blank'>https://vote-demo.firebaseapp.com</a><br/>
          <!-- <a href='https://vote-demo.firebaseio.com' target='_blank'>https://vote-demo.firebaseio.com</a> -->
          </p>

          <aside class='notes'>
          Explain what they're going to see before giving them the url
          </aside>
        </section>

        <section>
        	<h3>The Code: #1 the HTML</h3>
        	<pre>
        	<code>
<div class="media"  ng-click='vm.toggle()'>
    <div class="media-left">
        <button type="button" class="btn btn-default btn-lg">
            <div>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </div>
            <div>
                {{choice.count}}
                <br/>
                {{choice.people.length}}
            </div>
        </button>
    </div>
    <div class="media-body">
        <h3 class='media-heading'>
            {{choice.$id}}
        </h3>
        <ul class='list-inline'>
            <li ng-repeat='person in choice.people'>
                <a href='http://twitter.com/{{person.userName}}'>
                    <img ng-src="{{person.imageUrl}}">
                </a>
            </li>
        </ul>
        <ul class='list-inline'>
            <li ng-repeat='person in choice.people'>
                <a href='http://twitter.com/{{person.userName}}'>{{person.userName}}</a>
            </li>
        </ul>
    </div>
</div>
</code>
</pre>
        </section>

        <section>
        <h2>The Code: #2 the Firebase Magic</h2>
        <pre>
        <code>
        vm.choices = fbutil.syncArray(
            '/choices',
            {'orderByChild': 'count'}
        );
        </code>
        </pre>
        </section>

        <section>
          <h2>The Architecture</h2>
          <img src='images/luzme.png' alt="The Architecture"/>
        </section>

        <section>
          <br><br>
          <h2>More about Firebase</h2>
          <img src="images/firebase-logo.png" class="no-style">
        </section>

        <section>
          <h3>I need ...</h3>
          <p class='text-small'>Real-Time</p>
          <p class='text-small'>Mobile</p>
          <p class='text-small'>Speed</p>
          <p class="text-small">Scalability</p>
          <p class='text-small'>Reliability</p>
          <p class='text-small'>Easy to write</p>
          <p class='text-small'>Easy to debug</p>
        </section>
<!--
        <section>
          <p class="text-cream text-medium">The <span class="text-discs">Realtime Backend</span></p>
          <p class="text-cream text-medium">for your App</p>
        </section>

        <section>
          <p class="text-medium">Creating an app shouldn't require managing complex infrastructure.</p>
        </section>

        <section>
          <h3>The Full Stack</h3>
          <img src="images/full-stack.png" alt="The Full Stack" class="no-style" />
        </section>

        <section>
          <p class="text-small">The full stack is never really that simple</p>
          <img src="images/backend-reqs.gif" alt="" class="white-bg no-style" />
        </section>

        <section>
          <p class="text-small">... and neither is the client side</p>
          <br><br>
          <img src="images/clients.png" alt="gdocs" class="no-style" />
        </section>
-->

        <section>
          <p class="text-medium era-point">The user doesn't care :
            <ul>
              <li>about your backend</li>
              <li>or your frontend</li>
            </ul>
				</section>

        <section>
          <h4>The user expects</h4>
          <p class="text-small era-point">Speed</p>
          <p class="text-small era-point">Offline</p>
          <p class="text-small era-point">Multi-platform</p>
          <p class="text-small era-point">Simple Authentication</p>
        </section>

        <!--
          Firebase
        -->
        <!--
        <section>
          <h3>Firebase</h3>
          <img src="images/firebase-logo.png" class="no-style era-point">
          <br>
          <p class="text-cream">The <span class="text-discs">Realtime Backend</span></p>
          <p class="text-cream">for your App</p>
        </section>
		-->

        <section>
          <h4>The Firebase Backend</h4>
          <img src="images/data-box.png" class="no-style framework-logo">
          <img src="images/login-box.png" class="no-style framework-logo">
          <img src="images/security-box.png" class="no-style framework-logo">
          <img src="images/hosting-box.png" class="no-style framework-logo">
        </section>

<!--
        <section>
					<h3>Forget the Server</h3>
					<p class="era-point">Firebase apps can run on client-side code only</p>
					<br>
					<img src="/images/platforms.png" alt="" class="no-style framework-logo">
				</section>

        <section>
          <img src="images/data-box.png" class="no-style framework-logo">
        </section>
-->

        <section>
          <h2>Cloud database</h2>
          <p class="era-point">NoSQL data-store</p>
          <p class="era-point">Returns JSON from a RESTful API</p>
        </section>
<!--
        <section>
          <img src="/images/simple-api.png" alt="" class="no-style">
        </section>
 -->
        <section>
          <h2>Realtime Data</h2>
          <p class="era-point text-cream">
            Whenever <span class="text-discs">data is  updated in Firebase</span>,
            it sends the update down to every <span class="text-tarheel">listening client</span>
          </p>
        </section>

        <section>
          <img src="/images/Realtime-sync-anim.gif" alt="" class="no-style" style="max-width: 85%;">
        </section>

        <section>
          <p class="text-medium">SDKs</p>
          <img src="/images/platforms.png" alt="" class="no-style">
        </section>

        <section>
          <h2>Store Data</h2>
          <pre>
          <code-box langs="JavaScript,Swift,Java">
            <code-example lang="JavaScript">
            // Javascript
var ref = new Firebase("https://&lt;your-firebase-app&gt;.firebaseio.com/message");
ref.set('All the things');
            </code-example>
            <code-example lang="Swift">
            // Swift
let ref = Firebase(url: "https://&lt;your-firebase-app&gt;.firebaseio.com/message")
ref.setValue("All the things")
            </code-example>
            <code-example lang="Java">
            // Java
Firebase ref = new Firebase("https://&lt;your-firebase-app&gt;.firebaseio.com/message");
ref.setValue("All the things");
            </code-example>
          </code-box>
          </pre>
        </section>

        <section>
          <h2>Sync Data</h2>
<pre>
          <code-box langs="JavaScript,Swift,Java">
            <code-example lang="JavaScript">
            //Javascript
var ref = new Firebase("https://&lt;your-firebase-app&gt;.firebaseio.com/message");
ref.on("value", function(snap) {
  console.log(snap.val());
});
            </code-example>
            <code-example lang="Swift">
            //Swift
let ref = Firebase(url: "https://&lt;your-firebase-app&gt;.firebaseio.com/message")
ref.observeEventType(.Value, withBlock: { snap in
  println(snap.value)
})
            </code-example>
            <code-example lang="Java">
            //Java
Firebase ref = new Firebase("https://&lt;your-firebase-app&gt;.firebaseio.com/message");
ref.addValueEventListener(new ValueEventListener() {
  @Override
  public void onDataChange(DataSnapshot snapshot) {
    System.out.println(snapshot.getValue());
  }
  @Override public void onCancelled(FirebaseError error) { }
});
            </code-example>
          </code-box>
</pre>
        </section>

        <section>
          <h3>Offline</h3>
          <img class="no-style" src="/images/offline.png">
        </section>

        <section>
          <h3>Intermittent Offline</h3>

          <p class="text-small">What happens when you go through a tunnel?</p>
          <br><br>
          <p class="text-small fragment">
            Firebase clients store a local cache of your data. When the user
            goes offline, the app still works as expected with the local cache.
          </p>

        </section>

        <section>
          <h3>Extended Offline</h3>

          <p class="text-small">What happens when you go on a flight?</p>
          <br><br>
          <p class="text-small fragment">
            On mobile, Firebase persists data to a local store. The app will continue
            to work even across app restarts.
          </p>

        </section>

        <section>
          <h3>One line of code</h3>
          <pre>
          <code-box langs="Swift,Java">
            <code-example lang="Swift">
            // Swift
Firebase.defaultConfig().persistenceEnabled = true
            </code-example>
            <code-example lang="Java">
            // Java
Firebase.getDefaultConfig().setPersistenceEnabled(true);
            </code-example>
          </code-box>
          </pre>
        </section>

        <section>
          <img src="images/login-box.png" class="no-style framework-logo">
        </section>

        <section>

          <p class="era-point text-small">
            Firebase supports several forms of authentication
          </p>

          <p class="era-point">
            Email &amp; Password
          </p>

          <p class="era-point">
             Google
          </p>

          <p class="era-point ">
             Twitter
          </p>

          <p class="era-point ">
             Facebook
          </p>

          <p class="era-point ">
             Github
          </p>

          <p class="era-point ">
             Anonymous
          </p>

          <p class="era-point ">
             ...and even custom backends
          </p>

        </section>

        <section class="hasCode">

          <h3>Authentication</h3>
          <pre>
          <code-box langs="JavaScript,Swift,Java">
            <code-example lang="JavaScript" prop="one">
// Login with Google
ref.authWithOAuthPopup('google', function(error, authData) {
  console.log(authData);
});
            </code-example>

            <code-example lang="Swift">
ref.authWithOAuthProvider("google", token: "&lt;OAuth Token&gt;",
    withCompletionBlock: { error, authData in
    if error != nil {
        // Error authenticating with Firebase with OAuth token
    } else {
        // User is now logged in!
        println("Successfully logged in! \(authData)")
    }
})
            </code-example>

            <code-example lang="Java">
ref.authWithOAuthToken("google", "&lt;OAuth Token&gt;", new Firebase.AuthResultHandler() {
    @Override
    public void onAuthenticated(AuthData authData) {
        // the Google user is now authenticated with your Firebase app
    }

    @Override
    public void onAuthenticationError(FirebaseError firebaseError) {
        // there was an error
    }
});
            </code-example>

          </code-box>
          </pre>
        </section>

        <section class="hasCode">

          <h3>Authentication</h3>
<pre>
          <code-box langs="JavaScript,Swift,Java">
            <code-example lang="JavaScript" prop="one">
// Listen for authenticated users
ref.onAuth(function(authData) {
  if(authData) {
    console.log('User is logged in!');
  }
});
            </code-example>

            <code-example lang="Swift">
ref.authWithOAuthProvider("google", token: "&lt;OAuth Token&gt;",
    withCompletionBlock: { error, authData in
    if error != nil {
        // Error authenticating with Firebase with OAuth token
    } else {
        // User is now logged in!
        println("Successfully logged in! \(authData)")
    }
})
            </code-example>

            <code-example lang="Java">
ref.authWithOAuthToken("google", "&lt;OAuth Token&gt;", new Firebase.AuthResultHandler() {
    @Override
    public void onAuthenticated(AuthData authData) {
        // the Google user is now authenticated with your Firebase app
    }

    @Override
    public void onAuthenticationError(FirebaseError firebaseError) {
        // there was an error
    }
});
            </code-example>

          </code-box>
</pre>
        </section>

        <section>
          <img src="images/security-box.png" class="no-style framework-logo">
        </section>

        <section>
          <h3>Security</h3>
          <p class="era-point">
            By default everyone can write and read
          </p>
					<pre>
						<code data-trim class="json">
{
  "rules": {
    ".read": true,
    ".write": true,
  }
}
						</code>
					</pre>
        </section>

        <section>
          <p class="era-point">
            Everyone can read, but no one can write
          </p>
					<pre>
						<code data-trim class="json">
{
  "rules": {
    ".read": true,
    ".write": false,
  }
}
						</code>
					</pre>
        </section>

        <section>
          <p class="era-point">
            Secure specific parts of your Firebase
          </p>
					<pre>
						<code data-trim class="json">
{
  "rules": {
    ".read": true,
    "message": {
      ".write": false
    }
  }
}
						</code>
					</pre>
        </section>

        <section>
          <p class="era-point">
            Special variables to power authentication
          </p>
					<pre>
						<code data-trim class="json">
{
  "rules": {
    ".read": true,
    "message": {
      ".write": "auth !== null",
      ".validate": "!data.exists()"
    }
  }
}
						</code>
					</pre>
        </section>


        <section>
					<h3>Security</h3>
					<p class="text-small">Use $wildcards as route parameters</p>
					<pre>
						<code data-trim class="json">
{
  "rules": {
    ".read": false,
    ".write": false,
    "users": {
      "$userid": {
        ".read": "true",
        ".write": "auth.uid === $userid"
      }
    }
  }
}
						</code>
					</pre>

				</section>

        <section>
          <img src="images/hosting-box.png" class="no-style framework-logo">
        </section>

  			<section>
  					<h3>Hosting</h3>
  					<p class="text-small">When you're ready to launch</p>
  					<pre>
  						<code data-trim class="bash">
firebase init
# select your firebase
firebase deploy
# party time
  						</code>
  					</pre>
  			</section>

        <section>
					<h3>Hosting</h3>
					<p class="text-small era-point">Production-grade</p>
          <p class="text-small era-point">Static Asset</p>
					<p class="text-small era-point">Free SSL</p>
					<p class="text-small era-point">CDN cached assets</p>
					<p class="text-small era-point">One click rollbacks</p>
				</section>
<!--
        <section>
          <h1>(Optional) Live Coding</h1>
        </section>
 -->
        <section>
					<h3>Tooling & Integration</h3>
				</section>


        <section>
          <h3>Bindings</h3>
          <img src="/images/backbonejs.png" class="framework-logo no-style" />
          <img src="/images/emberjs.png" class="framework-logo no-style" />
          <img src="/images/react.png" class="framework-logo no-style" />
          <img src="/images/angularjs.png" class="framework-logo no-style" />
        </section>

        <section>
					<h3>AngularFire</h3>
					<p class="text">A chat app in AngularFire</p>
					<pre>
						<code data-trim class="javascript">
var app = app.module('app', ['firebase']);
app.controller('ChatCtrl', function($scope, $firebaseArray) {
  var ref = new Firebase('https://&lt;your-firebase&gt;.firebaseio.com/messages');
  $scope.messages = $firebaseArray(ref);
});
						</code>
					</pre>
					<pre>
						<code data-trim class="html">
&lt;html&gt;
  &lt;body ng-app="app"&gt;
    &lt;div ng-controller="ChatCtrl"&gt;
      &lt;p ng-repeat="message in messages"&gt;message.text&lt;/p&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
						</code>
					</pre>
				</section>

        <section>
					<h3>Geofire</h3>
					<p class="text-smaller">Store and query items based on their geographic location in realtime</p>
					<iframe src="https://geofire.firebaseapp.com/sfVehicles/" height="450px" width="100%"></iframe>
				</section>

				<section>
					<h3>Well Documented</h3>
					<a class="text-tarheel" href="https://firebase.com/docs">
						<img src="images/docs-site.png">
					</a>
				</section>

        <section>
          <h4>Firebase meta-data</h4>
          <p class="era-point">
            <span id="current-devs">170,000+</span> registered developers
          </p>
          <p class="era-point">
            1M concurrent users on Firebase sites
          </p>
          <p class="era-point">
            Joined Google October, 2014
          </p>
        </section>

        <section>
          <h4>Firebase in Production</h4>
          <ul>
            <li class="era-point">
              <span class="text-discs">Twitch.tv</span> - Notifying users when realtime streams go live
            </li>
            <li class="era-point">
              <span class="text-discs">Citrix</span> - Manages presence in GoTo Meeting
            </li>
            <li class="era-point">
              <span class="text-discs">CBS</span> - Powers the chat for Big Brother's Live Stream
            </li>
            <li class="era-point">
              <span class="text-discs">Warby Parker</span> - Powering pneumatic tubes
            </li>
            <li class='era-point'>
            	<span class='text-discs'>Luzme!</span> - ebook price comparison site
            </li>
          </ul>
        </section>

        <section>
					<h2>Focus on your app</h2>
					<p class="era-point">The user doesn't care about the backend</p>
					<p class="era-point">What matters is that your app is
						<span class="text-tarheel">fast and enjoyable</span>
					</p>
				</section>

        <section>
					<h2>Complete Platform</h2>
					<img src="images/data-box.png" class="no-style framework-logo">
					<img src="images/security-box.png" class="no-style framework-logo">
					<img src="images/login-box.png" class="no-style framework-logo">
					<img src="images/hosting-box.png" class="no-style framework-logo">
				</section>

		<section>
		<h2>But what about Python?</h2>
		<pre>
		<code class='python'>
from firebase import firebase

from django.conf import settings


class FirebaseApp(firebase.FirebaseApplication):

    def __init__(self):
        self.dsn = settings.FIREBASE_DSN
        self.secret = settings.FIREBASE_SECRET

    def _authenticate(self, params, headers):
        params.update({'auth': self.readwrite})

fb = FirebaseApp()
		</code>
		</pre>
		</section>

		<section>
		<h2>But what about Python?</h2>
		<pre>
			<code class='python'>
# get
data = fb.get('/foo, 'bar')

# set
fb.put('/foo', 'bar', {'hello': 'world'})

			</code>
		</pre>
		</section>

        <section>
          <h3>I need ...</h3>
          <p>Real-Time</p>
          <p>Mobile</p>
          <p>Speed</p>
          <p>Scalability</p>
          <p>Reliability</p>
          <p>Easy to write</p>
          <p>Easy to debug</p>
          <p class='text-medium'>That's Why I Chose Firebase</p>
        </section>

        <section>
          <h3>How To Get Started?</h3>
          <p class='text-medium'>Aargh, it's so complicated!</p>
        </section>

        <section>
          <h3>No, Not Firebase :)</h3>
          <p>Everything else to do with developing, <br/>testing
           and building
            an Angular app</p>
          <p class='text-small'>Project File Structure</p>
          <p class='text-small'>User Testing</p>
          <p class='text-small'>End-To-End Testing</p>
          <!-- <p class='text-small'>Coverage Testing</p> -->
          <p class='text-small'>Build</p>
          <p class='text-small'>Deployment</p>
          <p class='text-small'>Task Runner</p>
          <p class='text-small'>Generators</p>
        </section>

        <section>
          <h3>Hat-Tip to...</h3>
            <a href="https://github.com/johnpapa/angular-styleguide">
              John Papa's Opinionated Style Guide<br/>
              https://github.com/johnpapa/angular-styleguide
            </a>
          <p class='text'>
            which taught me 90% of what I know now
          </p>
        </section>

        <section>
        <h3>My Project File Structure</h3>
        <pre>
        - src
          - client
            - app
              index.html
              images
              styles
              fonts
          - server
            ...
        - bower.json
        - bower_components/
        - package.json
        - node_modules
        - test
          - karma.conf.js
          - protractor.conf.js
        - e2e-tests
        </pre>
        </section>

        <section>
          <h3>Task Runner</h3>
          <p class='text-medium'>Gulp or Grunt</p>
          <p><a href='http://gulpjs.com'>http://gulpjs.com</a></p>
          <p><a href='http://gruntjs.com'>http://gruntjs.com</a></p>
        </section>

        <section>
          <h3>Unit Testing</h3>
          <p>Karma: Test Runner</p>
          <p>Karma was developed by Angular team</p>
          <p class='text-small'><a href='https://karma-runner.github.io'>https://karma-runner.github.io/0.13/index.html</a>
          </p>
          <p>Choice of Test Frameworks</p>
          <ul>
            <li>Jasmine</li>
            <li>Jasmine 2</li>
            <li>Mocha</li>
            <li>Chai</li>
            <li>QUnit</li>
            <li>etc</li>
          </ul>
        </section>

        <section>
          <h3>E2E testing</h3>
          <p>Protractor</p>
          <p>Protractor was developed by Angular team</p>
          <p class='text-small'><a href='http://www.protractortest.org'>http://www.protractortest.org</a>
        </section>


        <section>
          <h3>Task Runner</h3>
          <p>Run a dev server</p>
            <ul>
              <li>Compile Less/Sass files -> CSS</li>
              <li>Transpile ES6/TypeScript -> ES5</li>
              <li>Watch source files for changes</li>
            </ul>
          <p>Run unit tests</p>
          <p>Build for deployment</p>
            <ul>
              <li>Compile/Transpile</li>
              <li>Minimise images</li>
              <li>Add cache-busters</li>
              <li>Minimise/uglify code</li>
            </ul>
          <p>Deploy to test/stage/live</p>
          <p>Run E2E tests on dev/test/stage/live</p>
        </section>

        <section>
          <h3>Generators</h3>
          <p>Why not use a generator?</p>
          <p>What's a generator?</p>
          <p>Should I use a generator?</p>
        </section>

        <section>
          <h3>I'm writing a book!</h3>
          <a href='https://www.gitbook.com/book/rwillmer/step-by-step-to-angular2-and-firebase'>
          https://www.gitbook.com/book/rwillmer/step-by-step-to-angular2-and-firebase
          </a>
        </section>

        <section>
          <h3>And Finally...</h3>
          <p class='text-medium'>What's Next?</p>
          <p>Finish the book</p>
          <p>Release the Firebase version of Luzme</p>
          <p>Spinout Luzme-based subject-specific websites</p>
          <p>Starting a podcast (anyone here into startups?)</p>
          <p>Angular2!</p>
          <p>Mobile version: Ionic + Firebase</p>
        </section>

        <section>
          <h2>ASK ME ANYTHING</h2>
          <h5>Rachel Willmer / <a href="http://twitter.com/rwillmer">@rwillmer</a></h5>
          <h5>Founder / <a href="http://twitter.com/YOUR_COMPANY_TWITTER_HANDLE">@askluzme </a></h5>
        </section>
<!--
        <section>
          <h2>Assets Used</h2>

          <ul>
            <li><a href="https://thenounproject.com/search/?q=database&i=9658">https://thenounproject.com/search/?q=database&i=9658</a></li>
            <li><a href="https://thenounproject.com/search/?q=server&i=34235">https://thenounproject.com/search/?q=server&i=34235</a></li>
            <li><a href="https://thenounproject.com/search/?q=api&i=137607">https://thenounproject.com/search/?q=api&i=137607</a></li>
            <li><a href="https://thenounproject.com/search/?q=users&i=36217">https://thenounproject.com/search/?q=users&i=36217</a></li>
            <li><a href="https://thenounproject.com/search/?q=macbook&i=20320">https://thenounproject.com/search/?q=macbook&i=20320</a></li>
            <li><a href="https://thenounproject.com/search/?q=iphone&i=5765">https://thenounproject.com/search/?q=iphone&i=5765</a></li>
            <li><a href="https://thenounproject.com/search/?q=nexus-5&i=26045">https://thenounproject.com/search/?q=nexus-5&i=26045</a></li>
          </ul>

        </section>
 -->
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'concave', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

    <script>

      function signPostEra( event ) {
        var title = event.currentSlide.attributes.title;

        if(title) {
          var era = document.getElementById('era');
          era.innerText = title.value;
        }
      }

      Reveal.addEventListener( 'ready', function( event ) {
        signPostEra( event );
      });

      Reveal.addEventListener( 'slidechanged', function( event ) {
        signPostEra( event );
      });

    </script>
  </body>
</html>
